## Exploratory Data Analysis
1. Let's start with exploration dataset
2. numerical variables,
2. Find duplicated, missing value 
3. Outliers
2. All the 
3. Distribution of the numerical variables
4. Categorical Variables
6. Relationship between independent and dependent features
7. Correlations

In [6]:
# Import the dependent varaible

In [4]:
import pandas as pd, numpy as np

In [ ]:
# Read csv file

In [7]:
df = pd.read_csv('Housing.csv')
df.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [14]:
print('The shape of Our Dataset:',df.shape)
print('\nThe columns in Our Dataset', df.columns)

The shape of Our Dataset: (545, 13)

The columns in Our Dataset Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

The description of our the feature in the dataset:
1. **Price**: The price of the house.
2. **Area**: The total area of the house in square feet.
3. **Bedrooms**: The number of bedrooms in the house.
4. **Bathrooms**: The number of bathrooms in the house.
5. **Stories**: The number of stories in the house.
6. **Mainroad**: Whether the house is connected to the main road (Yes/No).
7. **Guestroom**: Whether the house has a guest room (Yes/No).
8. **Basemnt**: Whether the house has a basement (Yes/No).
9. **Hot water heating**: Whether the house has a hot water heating system (Yes/No).
10. Airconditioning: Whether the house has an air conditioning system (Yes/No).
11. Parking: The number of parking spaces available within the house.
12. Prefarea: Whether the house is located in a preferred area (Yes/No).
13. Furnishing status: The furnishing status of the house (Fully Furnished, Semi-Furnished, Unfurnished).